{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <title> Exchange w/ Turker </title>
        <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
        <link href="../static/about.css" rel="stylesheet">
        {% render_bundle "main" "css" %}
    </head>
    <body>
        <nav class="bold header-text"><p class="bold">Exchange w/ Turker</p></nav>

        <div id="content" class="clearfix">
        {% block content %}
        {% endblock %}
        </div>

        <footer class="bold">
            {% if request.user.is_authenticated %}
            <p>You are logged in as {{ request.user.username }}</p>
            {% else %}
            <p>You are not logged in</p>
            {% endif %}
            <p class=""><strike>About</strike></p>
        </footer>
    </body>
</html>
