{% extends 'base.html'%}

{% block extra_title %}: Terms of Service{% endblock %}

{% block content %}
<a id="login-link" class="bold" href="{% url 'chats:index' %}">EXCHANGES w/ <span class="underline">Turkers</span></a>
<section id="tos-text">
    <span class="bold title">Terms of Service</span>
    <p class="pt2">
This document aims to regulate your participation in the Exch w/ Turkers project. We wish to establish ground rules so as to promote an ethical and efficient atmosphere during the 15 days of work that lie ahead – for both parties: you, the requesters, and they, the workers.
    </p>

    <p><span class="bold">1. About us</span><br/>We are researchers, artists and activists of the Grupo de Experiências Críticas em Infraestruturas Digitais (GECID) [Critical Experiments in Digital Infrastructures Group], which is part of a larger network called Grupo de Arte e Inteligência Artificial (GAIA) [Arts and Artificial Intelligence Group], headquartered at the C4AI – Inova USP building at the University of São Paulo, Brazil.</p>

    <p>In partnership with aarea, a digital platform for the showing of internet artwork, we’ve created the Exch w/ Turkers project, a website that allows its visitors to communicate directly with a group of 5 Turkers. The Turkers can also communicate between themselves. All interactions occur in chat-style tabs or windows.</p>

    <p>The project’s main goal is to shine a light on the Turkers’ work routine, as well as the people behind said work, with their specificities, different subjectivities and private opinions about their own and other realities. We also wish to do what the Amazon Mechanical Turk platform does not permit one to do: to allow these workers to come together and discuss the possibilities for improvement and regulation of said work, in addition to the sharing and exchanging experiences.</p>

    <p><span class="bold">2. Duration of work</span><br/>The Exch w/ Turkers website hosted at <a href="https://www.aarea.co/" target="_blank">www.aarea.co</a> between March 13 and 27, 2020.</p>

    <p><span class="bold">3. Your obligations</span><br/>3.1 Both Turkers and participating members of the public must be respectful of each other in their interactions within the website. It is important to bear in mind that, in all open chat platforms, one is subject to receiving offensive and unwanted messages. Said messages will be deleted, in accordance with our code of conduct policy, which does not tolerate messages containing personal attacks or content that might promote or perpetuate any kind of discrimination based on race, creed, religion, nationality, marital status, gender or sexual orientation, as well as graphic and/or explicit language or content which shows no clear relation to the subjects under discussion.</p>

    <p>3.2 We are in no way or form associated to Amazon. You are free to share your opinions on your work relationship with Amazon Mechanical Turk.</p>

    <p><span class="bold">4. Possible work extensions</span><br/>4.1 It is possible that part of the communications that occurred on the website will be used for future online and/or printed publications. If you participate in the project, you are automatically consenting to the future use by GECID/GAIA of all and any messages exchanged on the website’s chat feature.</p>

    <p>4.2 Following the end of the project on the aarea platform, the website might be relocated to different, fixed domain, without the possibility of interaction between the public and the Turkers. Your messages will remain on this website, as a record, and cannot be altered.</p>

    <p>4.3 We will not use data on the website for any other type of work extension other than those specified in the item 4.1.</p>

    <p><span class="bold">5. Contact</span><br/>
To contact us, please write to <a href="mailto:gecid@protonmail.com" target="_blank">gecid@protonmail.com</a>.
    </p>
</section>
{% endblock %}
