#chat-react {
  height: 100vh;
  width: 100vw;
}

#collective-chat {
  width: 32em;
  position: absolute;
  right: 2em;
  top: 2em;
}

.chat-box {
  border: 3px solid black;
  background-color: white;
  padding: 1em;
  width: 24em;
  height: 32em;
  position: relative;

  &.collapsed { height: auto; }

  .header {
    cursor: pointer;

    .hide-chat {
      width: 1em;
      height: 1em;
      font-weight: bold;
      float: right;
      cursor: pointer;
      text-align: center;
    }
  }

  .next-page-section {
    text-align: center;
    cursor: pointer;
    padding: 0.6em;
    margin: 0 auto 0.6em;
    border-bottom: 1px solid black;
  }

  .messages {
    max-height: 22em;
    height: 22em;
    overflow-y: scroll;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;

    .message {
      margin: 0.8em 0 0;

      .sender {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  .separator {
    border-top: 3px solid black;
    margin: 0.8em 0;
  }
}
