#login-page {
  height: 100%;

  form {
    p { margin: 2em auto; }
    label { margin-bottom: 0.4em; display: block; }
    br { display: none; }
    input + label { margin-top: 1em; }
  }

  #tos-confirmation {
    text-align: center;
    display: block;

    * {
      display: inline-block;
    }

    input {
      width: auto;
      padding: 0;
    }
  }
}
