#login-link, #about-link, #user-info, #return-link {
  position: absolute;
  padding: 2em;
}

#login-link  { top: 0; left: 0; }
#return-link { top: 0; right: 0; }
#about-link  { bottom: 0; right: 0; }
#user-info   { bottom: 0; left: 0; }
