#tos-text {
  position: relative;
  width: 60%;
  height: 80%;
  top: 15%;
  margin: 0 auto;
  overflow: auto;
  display: block;

  p { line-height: 1.8; margin-bottom: 1rem; }
  .title { font-size: 3rem; padding: 1rem 0;}

  a {text-decoration: underline;}
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

@media (max-width: 1400px) {
  #tos-text {
    display: block;
    overflow-y: auto;
    position: relative;
    left: 5%;
    width: 60%;

    a {text-decoration: underline;}
  }
}
